#show-more-photos {
    display: block;
}

#hide-photos {
    display: none;
}

#gallery-container img {
    transition: all 0.5s linear;
}

 #gallery-container img:hover{
    transform: scale(1.05);
} 